/* text */
h1 {
  font-family: "Montserrat", sans-serif;
  margin-top: 7%;
  font-size: 3.5em;
  color: #f7bf51;
  text-shadow: 2%;
  text-align: center;
  padding-bottom: 2%;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1.5em;
  color: #ffffff;
  text-shadow: 2%;
  text-align: center;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  padding-top: 1%;
  padding-bottom: 2%;
  font-size: 1.5em;
  color: #ffffff;
  text-shadow: 2%;
  text-align: center;
}
h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 1.5em;
  color: #ffffff;
}

/* Dictionary Button */
.btn {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  display: block;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  padding: 0px 15px;
  text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
  background: linear-gradient(
    92.88deg,
    #443f80 9.16%,
    rgba(85, 67, 204, 0.45) 43.89%,
    rgba(0, 0, 0, 0.263) 64.72%
  );
  transition: all 0.5s ease 0s;
}

.btn:hover {
  background-color: #ffffff;
  color: #000000;
  box-shadow: #443f80 9.16%, 0px 1px 40px;
  transition: all 0.1s ease 0s;
}

/* Dictionary */

.offcanvas {
  background-image: url(OFFCANVAS.png);
  padding-top: 20px;
  color: #ffffff;
}
.offcanvas-backdrop.show {
  opacity: 1;
  background-color: #443f8053;
  backdrop-filter: blur(5px);
}

/* SEARCH BOX */

.main-search-input {
  background: #443f808f;
  padding: 0 120px 0 0;
  border-radius: 1px;
  margin-top: 200px;
  box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0);
}

.fl-wrap {
  float: left;
  width: 100%;
  position: relative;
}

.main-search-input:before {
  content: "";
  position: absolute;
  bottom: -40px;
  width: 50px;
  height: 1px;
  background: rgba(255, 255, 255, 0.594);
  left: 50%;
  margin-left: -25px;
}

.main-search-input-item {
  float: left;
  width: 100%;
  box-sizing: border-box;
  border-right: 1px solid #eeeeeea7;
  height: 50px;
  position: relative;
}

.main-search-input-item input:first-child {
  background-color: #443f80c8;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.main-search-input-item input {
  float: left;
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 20px;
}

.main-search-button {
  background: #443f803b;
}

.main-search-button {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  right: 0px;
  height: 50px;
  width: 120px;
  color: #fff;
  top: 0;
  border: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.main-search-button:hover {
  color: #000000;
  background-color: #ffffff8e;
  transition: all 0.1s ease 0s;
  box-shadow: #443f80 9.16%, 0px 1px 40px;
}

.main-search-input-wrap {
  max-width: 1000px;
  margin: 20px auto;
  position: relative;
}

:focus {
  outline: 0;
}

@media only screen and (max-width: 768px) {
  .main-search-input {
    background: rgba(255, 255, 255, 0.2);
    padding: 14px 20px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0);
  }

  .main-search-input-item {
    width: 100%;
    border: 1px solid #eee;
    height: 50px;
    border: none;
    margin-bottom: 10px;
  }

  .main-search-input-item input {
    border-radius: 6px !important;
    background: #fff;
  }

  .main-search-button {
    position: relative;
    float: left;
    width: 100%;
    border-radius: 6px;
  }
}
